

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 60px;
    margin: auto;
   
}
.btn-sign{
     background-color: #4E47FF;
    color: white;
    font-size: 13px;
   width: 100px;
   height: 40px;
    border-radius: 5px;
    font-weight: 600;
}
.banner{
    
    width: 400px;
    height: 200px;
    margin: auto;
    margin-top: 140px;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    text-align: center;
    color: #252432;
    font-weight: 900;
    font-size: 30px;

    
}
.btn-focus{
    background-color: #4E47FF;
    color: white;
    font-size: 13px;
   width: 100px;
   height: 40px;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 37px;
    
}
.actions{
   
    width: 1120px;
    height: 330px;
    margin: auto;
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.img-style{
    width: 403px;
    height: 330px;
    border-radius: 40px;
}
.action{
    margin-top: 20px;
    width: 517px;
    height: 203px;
    margin-top: 62px;
}
.btn-lunch{
     background-color: #4E47FF;
     color: white;
    font-size: 13px;
    width: 200px;
    border-radius: 5px;
     height: 40px;
     font-weight: 600;
    }

.bg-color{
    background-color:  #e6e6f2;
    border-radius: 20px;
}
.productive{
    width: 1140px;
    height: 206px;
    margin: auto;
    padding: 50px 80px 50px 80px ;
    margin-top: 110px;
}
.user{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
   margin-top: 100px;
    
    
}
.number-bg{
    color: #4E47FF;
    
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.user-color{
    color: #908ead;
    
}
.h-1{
    margin: 0px;
    padding: 0px;
}
.touches{
    width: 1140px;
    height: 696px;
    margin: auto;
    background-color: #f3f3f7;
    margin-top: 100px;
    padding: 71px 150px;
}
.touch{
    text-align: center;
}
.touch-section{
    /* border: 1px solid; */
    width: 1140px;
    height: 632px;
    gap: 150px;
    display: flex;
    /* text-align: center; */
    align-items: center;
    margin: auto;
    margin-top: 80px;
}
.touch-title{
    font-weight: 600;
    font-size: 50px;
    width: 528px;
    height: 232px;
}
.form-section label{
    display: block;
    

}
input[type="text"], main input[type="email"],main textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;

}
.btn-touch{
    background-color: #4E47FF;
     color: white;
    font-size: 13px;
    width: 100%;
    border-radius: 5px;
     height: 40px;
     font-weight: 600;
     margin-left: 25px;
}